html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

table {
    border-collapse: collapse; /* ?????????? ??????? */
    width: 100%; /* ?????? ??????? ? 100% */
}

th, td {
    border: 1px solid black; /* ??????? ??????? ?????? ??????????? ????? ???????? 1 ??????? */
    padding: 8px; /* ????????? ?????????? ?????? (padding) */
    text-align: left; /* ???????????? ?????? ? ??????? ??????? ?? ?????? ???? */
}

th {
    background-color: #4CAF50; /* ?????? ???? ???? ??? ?????????? ???????? */
    color: white; /* ?????? ????? ???? ??? ?????? ?????????? ???????? */
}

tr:nth-child(even) {
    background-color: #4CAF50; /* ?????? ???? ???? ??? ?????? ?????? ?????? (??????-????? :nth-child(even)) */
    color: white; /* ?????? ????? ???? ??? ?????? ????? ?? ???? #4CAF50 */
}

.products-container {
    border: 1px solid tomato;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Profile */

.main-body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    padding: 25px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.filter-color-green {
    filter: invert(32%) sepia(68%) saturate(1282%) hue-rotate(91deg) brightness(97%) contrast(99%);
}

.filter-color-red {
    filter: invert(25%) sepia(71%) saturate(3476%) hue-rotate(342deg) brightness(87%) contrast(105%);


}

/*forum post*/

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}

@media (min-width: 0) {
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0) {
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top: 20px
}